body {
    font-family: avenir;
}

body {
    background-image: url("http://nebula.wsimg.com/fb652f65652618cb9c78f0308cef1bf4?AccessKeyId=ECDE508EFB98AD92E46F&disposition=0&alloworigin=1");
    height:1000px
    width:2000px;
    
}